h1{
    color: whitesmoke;
}

h3{
    color:whitesmoke;
}


p{
    color:white;
}

br{
    color:white;
    position: relative;
}


div{
    color:white;
}

ul{
    color:#050810;
}

a{
    color: whitesmoke;
}

html {  
    /* background-color: #050810; */
    
    background-image: url("Background.png");  
    background-repeat: no-repeat;  
    background-position: 0% 0%;
    background-size: cover;
    }