h1{
    color: whitesmoke;
}

h3{
    color:whitesmoke;
}


p{
    color:white;
}

br{
    color:white;
}


div{
    color:white;
}

/* body{
    background-image:url('Background2.png');
    /* background-size: auto; */
    /* background-repeat: no-repeat;
    background-position: center;
    
} */ */

ul{
    color:white;
}

a{
    color: whitesmoke;
}

html {  
    background-image: url("Background2.png");  
    background-repeat: no-repeat;  
    background-position: 0% 0%;
    background-size: 100% 250%;
    }