h1{
    color: whitesmoke;
    
}

h3{
    color:whitesmoke;
    
}

h2{
    color:whitesmoke;
    
}


p{
    color:white;
}

br{
    color:white;
    position: relative;
    
}

ul{
    list-style: none;
    text-align: justify;
}


li{
    color: white;
    text-align: justify;
}

div{
    color:white;
    text-align: justify;
}



a{
    color: whitesmoke;
}

html {  
    background-color: #050810;
    

    }